<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      Translations
    </title>

    <script src="https://cdn.tailwindcss.com">
    </script>
  </head>
  <body>

    <div class="container mx-auto mt-8">
      <div class="mb-4">
        <label for="languageSelect" class="mr-2 font-medium">Filter by Language:</label>
        <select
          id="languageSelect"
          class="border px-2 py-1"
          onChange="
                if (this.value) {
                  window.location.href = '/view/translations/' + this.value
                } else {
                  window.location.href = '/view/translations'
                }
              "
        >
          <option value="">
            All
          </option>

          @each(lang in languages)
            <option value="{{ lang }}" {{ language && language.toUpperCase() === lang ? 'selected' : '' }}>
              {{ lang }}
            </option>
          @endeach
        </select>
      </div>
      <div>
        <table class="table-auto w-full border-collapse divide-y divide-gray-300">
          <thead class="bg-gray-50">
            <tr>
              <th class="px-6 py-3 text-xs uppercase ">
                Id
              </th>
              <th class="px-6 py-3 text-xs uppercase ">
                Language
              </th>
              <th class="px-6 py-3 text-xs uppercase ">
                Key
              </th>
              <th class="px-6 py-3 text-xs uppercase ">
                Translation
              </th>
              <th class="px-6 py-3 text-xs uppercase ">
              </th>
              <th class="px-6 py-3 text-xs uppercase ">
              </th>
            </tr>
          </thead>
          <tbody class="bg-white divide-y divide-gray-200">
            @each(translation in translations)
              <tr class="whitespace-nowrap">
                <td class="px-6 py-4">
                  {{ translation.id }}
                </td>
                <td class="px-6 py-4">
                  {{ translation.language }}
                </td>
                <td class="px-6 py-4">
                  {{ translation.key }}
                </td>
                <td class="px-6 py-4">
                  {{ translation.value }}
                </td>
                <td class="px-6 py-4">
                  <a
                    class="bg-grey-100 hover:bg-grey-300 font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                    href="{{ route('translations.edit', { language:translation.language , id: translation.id }) }}"
                  >edit</a>
                </td>
                <td class="px-6 py-4">
                  <button
                    class="bg-grey-100 hover:bg-grey-300 font-bold py-2 px-4 text-red-500 rounded focus:outline-none focus:shadow-outline"
                    type="button"
                    onclick="openDeleteModal({{ JSON.stringify(translation) }})"
                  >
                    delete
                  </button>
                </td>
              </tr>
            @endeach
          </tbody>
        </table>
      </div>

      <div class="flex items-center gap-4 mt-4">
        @if(translations.currentPage > 1)
          <a
            class="text-blue-500 underline"
            href="
              @if(currentLanguage)
                /view/translations/{{ currentLanguage }}?page={{ translations.currentPage - 1 }}
              @else
                /view/translations?page={{ translations.currentPage - 1 }}
              @endif
            "
          >
            Previous
          </a>
        @endif


        <span>
          Page {{ translations.currentPage }} of {{ translations.lastPage }}
        </span>

        @if(translations.currentPage < translations.lastPage)
          <a
            class="text-blue-500 underline"
            href="
              @if(currentLanguage)
                /view/translations/{{ currentLanguage }}?page={{ translations.currentPage + 1 }}
              @else
                /view/translations?page={{ translations.currentPage + 1 }}
              @endif
            "
          >
            Next
          </a>
        @endif
      </div>
    </div>
    <div
      id="deleteModal"
      class="hidden fixed inset-0 flex items-center justify-center bg-black bg-opacity-50"
    >
      <div class="bg-white rounded p-6 w-1/3">
        <h2 class="text-xl font-semibold mb-4">Confirm Delete</h2>
        <form id="deleteForm" method="POST">
          <input type="hidden" name="translationId" id="translationIdToDelete" />
          <input type="hidden" name="returnUrl" value="{{ returnUrl }}" />
          <p id="deleteMessage" class="text-sm mb-4"></p>
          <div class="flex justify-end space-x-4">
            <button
              type="button"
              class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded"
              onclick="closeDeleteModal()"
            >
              Cancel
            </button>
            <button
              type="submit"
              class="bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded"
            >
              Delete
            </button>
          </div>
        </form>
      </div>
    </div>

    <script>
      function openDeleteModal(translation) {
        console.log("clicked", translation)
        const deleteMessage = document.getElementById('deleteMessage')
        deleteMessage.innerHTML = `Are you sure you want to delete <b>${translation.key}</b> in <b>${translation.language}</b>?`
        document.getElementById('translationIdToDelete').value = translation.id
        const deleteForm = document.getElementById('deleteForm')
        deleteForm.action = `/view/translations/${translation.language}/${translation.id}/delete`
        document.getElementById('deleteModal').classList.remove('hidden')
      }

      // Closes the modal
      function closeDeleteModal() {
        document.getElementById('deleteModal').classList.add('hidden')
      }
    </script>
  </body>
</html>
