<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Translations</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Language</th>
          <th>Key</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        @each(translation in translations)
        <tr>
          <td>{{ translation.id }}</td>
          <td>{{ translation.language }}</td>
          <td>{{ translation.key }}</td>
          <td>{{ translation.value }}</td>
        </tr>
        @endeach
      </tbody>
    </table>
  </body>
</html>
